.flex_footer {
  display: flex;
  background-color: rgb(65, 65, 65);
  position: relative;
  text-align: center;
}

.footer_element {
  max-width: 10em;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  /* Shadow around the elements */
  box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.76);
}
.footer_element:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

/* https://codepen.io/cbracco/pen/kQmVGM
  Always bottom footer */
