.flex_footer{
  display: flex;
  background-color:  rgb(65, 65, 65);
  padding-top: 0em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer_element{
    max-width: 10em;
    margin: 10px;
    padding: 20px;
  }
  .footer_element:hover{
    background-color: rgba(255, 255, 255, 0.356);
  }

  /* https://codepen.io/cbracco/pen/kQmVGM
  Always bottom footer */