$wh: 20%;
$fontsize: 2vw;
$cardPadding: 10vw;
$roundedCorners: 20px;
$thinBlackLine: 2px solid black;
// Colors
$white: rgb(235, 235, 235);
$blueish: #03446A;

.projectLinks:hover {
    color: $white;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2vw;
}


.projectCard {
    display: flex;
    flex-flow: column wrap;
    padding-top: $cardPadding;
    font-size: $fontsize;
    width: $wh;
    height: $wh;
    word-wrap: break-word;
}

.flip {
    position: absolute;
    width: $wh;
    height: $wh;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.projectCard:hover .flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position:inherit;
    background: transparent;
    color: $blueish;
    backface-visibility: hidden;
    border: $thinBlackLine;
    border-radius: $roundedCorners;
}

.back {
    transform: rotateY(180deg);
}

.projectCard h3 {
    font-size: large;
}

.projectCard p {
    font-size: medium;
}

.projectCard a {
    text-decoration: underline;
}

.projectCard img {
    width: 100%;
    border-radius: $roundedCorners;
}

/* If screen has a max width of 600px */
@media only screen and (max-width: 600px) {}