.nav_background{
    background-color: rgb(65, 65, 65);
    padding-bottom: 1em;
        /* Shadow below nav field */
        box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.76); 
}


.main_title{
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: rgb(255, 255, 255);
}



.nav_section{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;

}
.nav_elements{
    flex: 1;
    margin: 1%;
    border-radius:  20px;
    border-color: rgba(0, 0, 0, 0.11);
    text-align: center;
    width: 20%;
    /* Shadow around the elements */
    box-shadow: 5px 5px 10px rgba(22, 22, 22, 0.76); 
}
.nav_elements:hover{
    background-color: rgba(255, 255, 255, 0.233);
}
